@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional: smooth font and background transition for dark mode */
body {
  font-family: 'Inter', sans-serif;
  transition: background 0.3s, color 0.3s;
}

